<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pojo.Dep">
    <insert id="insert" parameterType="com.pojo.Dep">
        <selectKey resultType="int" keyProperty="DepId" order="AFTER">
            select max(DepId) from dep
        </selectKey>
        insert into dep(DepName) values (#{DepName})
    </insert>


</mapper>